<% include header %>
    <h1>
        <%= entries.event.title %>
        <a href="/json/sports/<%= entries.game_id %>/event/<%= entries.event_id %>" class="btn btn-primary pull-right">Export JSON</a>
    </h1>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted pull-right">
                        <%= entries.event.id %>
                    </div><%= entries.event.title %>
                </div>
                <div class="panel-body">
                    fsdfsdfsd
                </div>
            </div>

<% include footer %>
